<div class="selection">
    <div class="form-group text-center">
      <div class="col-sm-1 col-md-offset-10 control-label text-center">Marcar la opción que se desee correcta</div>
      <div class="col-sm-1 control-label text-center">Indique puntaje para la respuesta</div>
    </div>
    <div class="form-group">
      <label for="options-1-{{number}}" class="col-sm-2 control-label">Opción 1</label>
      <div class="col-sm-8">
        <input class="form-control" name="options-1-{{number}}" required/>
      </div>
      <div class="col-sm-1 text-center">
        <input type="checkbox" value="1" name="autocorrect-is_correct">
      </div>
      <div class="col-sm-1 text-center">
        <input type="number" class="form-control" name="autocorrect-options-1-{{number}}-score" required/>
      </div>
    </div>
    <div class="form-group">
      <label for="options-2-{{number}}" class="col-sm-2 control-label">Opción 2</label>
      <div class="col-sm-8">
        <input class="form-control" name="options-2-{{number}}" required/>
      </div>
      <div class="col-sm-1 text-center">
        <input type="checkbox" value="2" name="autocorrect-is_correct">
      </div>
      <div class="col-sm-1 text-center">
        <input type="number" class="form-control" name="autocorrect-options-2-{{number}}-score" required/>
      </div>
    </div>
    <div class="form-group">
      <label for="options-3-{{number}}" class="col-sm-2 control-label">Opción 3</label>
      <div class="col-sm-8">
        <input class="form-control" name="options-3-{{number}}" required/>
      </div>
      <div class="col-sm-1 text-center">
        <input type="checkbox" value="3" name="autocorrect-is_correct">
      </div>
      <div class="col-sm-1 text-center">
        <input type="number" class="form-control" name="autocorrect-options-3-{{number}}-score" required/>
      </div>
    </div>
    <div class="form-group">
      <label for="options-4-{{number}}" class="col-sm-2 control-label">Opción 4</label>
      <div class="col-sm-8">
        <input class="form-control" name="options-4-{{number}}" required/>
      </div>
      <div class="col-sm-1 text-center">
        <input type="checkbox" value="4" name="autocorrect-is_correct">
      </div>
      <div class="col-sm-1 text-center">
        <input type="number" class="form-control" name="autocorrect-options-4-{{number}}-score" required/>
      </div>
    </div>
  </div>
